

#signIn{
    position: relative;
    width: 100vw;
    height: 85vh;
    background-color: blue;

}



.signInField>div{

    padding-top: 65px;
    margin-top: -9px;
    position: relative;
    top: 52px;

}


/*#contactUs{*/
/*    position: relative;*/
/*    width: 100vw;*/
/*    height: 60vh;*/
/*    background-color: black;*/
/*}*/


#register{
    position: relative;
    /*width: 100%;*/
    /*height: 30px;*/
    /*background-color: ;*/
}

.reg-div-1{
    height: 100vh;
    /*background-image:url("../assets/register/registerImg.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/

}

.reg-div-sem1{
    background-image:url("../assets/register/registerImg.jpg");
    background-position: center;
    background-size: cover;



}






.reg-div-sem2{

    background-position: center;
    background-size: cover;
}

.reg-div-2{
    height: 100vh;
}

.insert{
    margin-top:0px ;
   padding-top:24px ;
    padding-left: 60px;
}














